<ion-view view-title="Check in">
    <ion-content class="padding">
        <div ng-hide="receipt">
          <div class="list">
            <div class="item item-divider">
              <span>Trainee</span>
            </div>
            <a class="item item-icon-right" href="#/app/find_trainee">
                <div ng-hide="checkin.trainee">
                    <span>Select trainee, present card or equipment below to proceed</span>
                    <i class="icon ion-arrow-right-c"></i> 
                </div>
                <div ng-show="checkin.trainee">
                    <span ng-bind="checkin.trainee.fullname"></span>
                </div>
            </a>
            <div class="item item-divider">
              <span>Equipment</span>
            </div>
            <div class="item item-icon-right" ng-repeat="e in checkin.equipment">
                <a ng-click="removeItem(e)" class="icon ion-close">
                </a>
                <span ng-bind="e.id"></span>
                <span ng-bind="e.description"></span>
            </div>
            <a class="item item-icon-right" ng-href="#/app/add_item/in/{{getTraineeId()}}" ng-show="addSelection()">
                <i class="icon ion-arrow-right-c"></i> 
                <span>Select item</span>
            </a>
            <div class="item" ng-show="(!addSelection() && checkin.equipment.length == 0)">
                This trainee holds no items to check in
            </div>
            <div class="item item-divider">
              <span>Notes</span>
            </div>
            <div class="item item-input">
              <textarea ng-model="checkin.notes" placeholder="Add notes here if needed" rows="4"></textarea>
            </div>
            <button class="button button-full button-assertive" type="submit" ng-click="commit()" ng-disabled="checkin.equipment.length == 0 || checkin.trainee == null">Check in</button>
          </div>
        </div>
        <div ng-show="receipt">
          <div class="list">
            <div class="item"><span ng-bind="checkin.trainee.fullname"></span></div>
            <div class="item item-divider">returned</div>
            <div ng-repeat="e in checkin.equipment" class="item">
                <span ng-bind="e.id"></span>
                <span ng-bind="e.description"></span>
            </div>
            <div class="item" ng-show="">
                <span ng-bind="checkin.notes"></span>
            </div>
            <div class="item item-divider">at</div>
            <div class="item"><span ng-bind="checkin.date | date:'short'"></span></div>
            <button class="button button-full button-balanced" type="submit" ng-click="goBack()">Back</button>
          </div>
        </div>
    </ion-content>
</ion-view>
