<ion-view view-title="Equipment info">
    <ion-content class="padding">
      <div class="list">
        <div class="item item-divider">
          <span>Item</span>
        </div>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Id</span>
            <span ng-bind="item.id"></span>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <span ng-bind="item.description"></span>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Status</span>
            <span ng-bind="item.status"></span>
        </label>
        <div class="item item-divider">
          <span>History</span>
        </div>
        <div ng-repeat="h in item.history" class="item">
            <span ng-bind="h.date"></span>
            <span ng-bind="h.record_type"></span> by <span ng-bind="h.trainee"></span>
        </div>
        <div ng-hide="item.history" class="item">
            No records for this item
        </div>
      </div>
    </ion-content>
</ion-view>
