<ion-view view-title="Log out">
    <ion-content class="padding">
        <div class="list">
            <h3>Are you sure you want to log out of the system? 
                <div class="dark">No operations may be performed until your next login.</div></h3>            
        </div>    
        <div class="button-bar">
          <a class="button button-balanced" ng-click="cancel()">No, cancel it</a>
          <a class="button button-assertive" ng-click="logout()">Yes, log me out</a>
        </div>        
    </ion-content>
</ion-view>
