<ion-view>
     <ion-nav-bar class="bar-balanced">
        <ion-nav-title>
          <div class="item-input-inset" style="line-height: 2em; padding: 0.25em 0.5em">
            <div class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search" style="width: 100%" placeholder="Select trainee or scan tag" ng-model="search.term">
            </div>
          </div>
        </ion-nav-title> 
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
          <button class="button button-clear" ng-click="clearSearch()">Clear</button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-content class="padding">
      <div class="list">
        <a class="item" ng-repeat="t in trainees" ng-href="#/app/trainee_info/{{t._id.$oid}}">
          <span ng-bind="t.fullname"></span>
        </a>
      </div>
    </ion-content>
</ion-view>
